@import "tailwindcss";
@theme {
  --color-midnight: #280124;
  --color-navbtn: #A40894;
}
.project-card {
  @apply relative h-full rounded-[1.25rem] border border-white/10 p-3 md:rounded-[1.5rem] cursor-pointer bg-gray-900;
}
 /* hover:bg-gray-800 transition   hover:border-white */

.marquee-skills {
  font-size: 16px;
  padding-block: 8px;
  overflow: hidden;
  user-select: none;

  --gap: 20px;
  display: flex;
  gap: var(--gap);
}

.marquee-skills ul {
  list-style: none;
  flex-shrink: 0;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);

  animation: scroll 10s linear infinite; /* faster */
}

.marquee-skills:hover ul {
  animation-play-state: paused;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
