@import "tailwindcss";
@theme {
  --color-midnight: #280124;
  --color-navbtn: #A40894;
}

.marquee-skills {
  font-size: 16px;
  padding-block: 8px;
  overflow: hidden;
  user-select: none;
  --gap: 20px;
  display: flex;
  gap: var(--gap);
}

.marquee-skills ul {
  list-style: none;
  flex-shrink: 0;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);

  animation: scroll 20s linear infinite; /* faster */
}

.marquee-skills:hover ul {
  animation-play-state: paused;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

/* Project section */
.project-card {
  @apply relative h-full rounded-[1.25rem] px-5 md:rounded-[1.5rem] bg-[rgba(0,0,0,0.54)];
}
 /* hover:bg-gray-800 transition   hover:border-white */
.project-card button{
  @apply absolute bottom-4 right-4 w-9 h-9 flex items-center justify-center rounded-xl border-white cursor-pointer
   /* bg-gray-800 hover:bg-gray-700 transition  */
}
 .project-skill{
  @apply flex flex-wrap
 }
 
 .project-skill li{
  @apply px-2 py-0.5 my-1 me-2  border border-gray-400 rounded-full text-gray-400 text-sm 
 }